<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>舆情监控系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="User Login Form Responsive Templates, Iphone Widget Template, Smartphone login forms,Login form, Widget Template, Responsive Templates, a Ipad 404 Templates, Flat Responsive Templates" />
    <link href="static/css/page/login.css" rel='stylesheet' type='text/css' />
    <!--web-fonts-->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!--/web-fonts-->
</head>
<body>

<script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>
<script type="text/javascript">window.__admin_utc_offset__ = "28800";</script>

<meta name="robots" content="NONE,NOARCHIVE" />
</head>

<body>
<!-- Container -->
<div class="m-login">
    <!-- Header -->
    <h1>舆情监控系统</h1>
    <!-- END Header -->
    <!-- Content -->
    <div class="login-form">
        <div class="form-content">
            <form action="" method="post" id="login_form">
            <div class="form-text">
                {% csrf_token %}
                <input type="text" class="text" id="u_name"
                       placeholder="用户名" maxlength="254" name="u_name" value="">
                <input type="password" value="" id="u_pwd" placeholder="密码" name="u_pwd">
                <input type="submit" value="GO" id="login_btn" >
            </div>
            <div class="alert alert-danger" style="display: none" id="err_message"></div>
            </form>
        </div>
    </div>
    <div id="content" class="colM">
        <div id="content-main">
            <form action="" method="post" id="login_form">
                <div class="form-text">
                    <input type="text" class="text"
                           id="u_name" placeholder="用户名"
                           name="u_name" value="">
                    <input type="u_pwd" value="" id="u_pwd" placeholder="密码" name="password">
                    <input type="button" value="GO" id="login_btn" onclick="login()">
                </div>
                <div class="alert alert-danger" style="display: none;" id="err_message"></div>
            </form>
        </div>
        <br class="clear" />
    </div>
    <!-- END Content -->
    <div id="footer"></div>
</div>
<!-- END Container -->
<script src="static/js/jquery.min.js"></script>
<script type="text/javascript">

    function login(){
        $("#err_message").css("display", "none");
        var data = $("#login_form").serialize();
        $.ajax({
            type: 'post',
            url: '/login_in',
            data: data,
            success: function (data) {
                var data_json = JSON.parse(data)
                if (data_json['success']) {
                    window.location.assign("/tasklist")
                } else {

                    $("#err_message").css("display", "block");
                    $("#err_message").css("color", "red");
                    $("#err_message").text("请输入正确的用户名和密码！");
                }

            }
        });
    }
</script>
</body>
</html>
