<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>DT舆情监控系统</title>
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/ionicons.min.css">
    <link rel="stylesheet" href="static/css/AdminLTE.css">
    <link rel="stylesheet" href="static/css/skins/skin-blue.min.css">
    <link rel="icon" href="static/images/favicon.ico" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        {% include 'header.html' %}
        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content container-fluid">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header col-xs-6">
                            <h3 class="box-title">舆情任务列表</h3>
                        </div>
                        <div class="dropdown col-md-4">
                            <form action="" method="GET">
                                <div class="input-group">
                                    <input type="text" class="form-control"
                                           name="serachKey"
                                           id="task_search"
                                           value="{{searchKey}}"
                                           placeholder="任务名称">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" href="#" onclick="task_query(true,1);"> 搜索</button>
                                    </span>
                                </div>
                                <!--<button class="btn btn-default" onclick="javascrtpt:task_query();"> 搜索</button>-->
                            </form>
                        </div>
                        <div class="col-xs-2">
                            <a href="./editTask" class="btn btn-primary pull-right" role="button">新增</a>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table id="example2" class="table table-bordered table-hover dataTable table-condensed"
                                                role="grid"
                                                aria-describedby="example2_info">
                                            <thead>
                                            <tr role="row">
                                                <!--<th class="sorting_asc" tabindex="0" aria-controls="example2"-->
                                                    <!--rowspan="1" colspan="1" aria-sort="ascending"-->
                                                    <!--aria-label="Rendering engine: activate to sort column descending">ID-->
                                                <!--</th>-->
                                                <th class="sorting" tabindex="0" aria-controls="example2"
                                                    _vimium-has-onclick-listener="" rowspan="1" colspan="1"
                                                    aria-label="Browser: activate to sort column ascending">任务名称
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="example2"
                                                    _vimium-has-onclick-listener="" rowspan="1" colspan="1"
                                                    aria-label="Platform(s): activate to sort column ascending">关键字
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="example2"
                                                    _vimium-has-onclick-listener="" rowspan="1" colspan="1"
                                                    width="100px"
                                                    aria-label="Engine version: activate to sort column ascending">数据源(个)
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="example2"
                                                    width="170" rowspan="1" colspan="1"
                                                    _vimium-has-onclick-listener=""
                                                    aria-label="Engine version: activate to sort column ascending">创建时间
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="example2"
                                                    width="170" rowspan="1" colspan="1"
                                                    _vimium-has-onclick-listener=""
                                                    aria-label="Engine version: activate to sort column ascending">更新时间
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="example2"
                                                    rowspan="1" colspan="1" width="240"
                                                    _vimium-has-onclick-listener=""
                                                    aria-label="CSS grade: activate to sort column ascending">操作
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                              {%for item in page%}
                                                  <tr role="row">
                                                        <!--<td class="sorting_1">41</td>-->
                                                        <td>{{item.mt_name}}</td>
                                                        <td>{{item.mt_keys}}</td>
                                                        <td>{{item.mt_source_counts}}</td>
                                                        <td>
                                                            {{item.mt_create_date|date:"Y-m-d H:i"}}
                                                        </td>
                                                        <td>
                                                            {{item.mt_last_date|date:"Y-m-d H:i"}}
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-default btn-sm" href="./editTask?mt_name={{item.mt_name}}">编辑</a>
                                                            <a class="btn btn-default btn-sm" task_name="{{item.mt_name}}" href="#" onclick="start_task(this);">启动</a>
                                                            <a class="btn btn-default btn-sm" href="/analyzer?task_name={{item.mt_name}}">舆情分析</a>
                                                            <a class="btn btn-default btn-sm" task_name="{{item.mt_name}}" href="#" onclick="del_task(this);">删除</a>
                                                        </td>
                                                    </tr>
                                              {%endfor%}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div id="test">
                                </div>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">
                                            共 {{all_counts}} 条结果
                                        </div>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                                            <ul class="pagination">
                                                <!--上一页-->
                                                <li class="{% if not page.has_previous %}disabled{% endif %}">
                                                  {% if page.has_previous %}
                                                    <a href="#" value="{{ page.previous_page_number}}" onclick="task_query(false,this);" aria-label="Previous">
                                                  {% endif %}
                                                    <span aria-hidden="true">&laquo;</span>
                                                  </a>
                                                </li>
                                                <!--页码-->
                                                <!--这里展示页码使用传递过来的dis_range -->
                                                {% for num in dis_range %}
                                                <li class="{% if num == page.number %}active{% else %}{% endif %}" >
                                                  <a href="#" value="{{ num }}"  onclick="task_query(false,this);" >{{ num }}</a>
                                                </li>
                                                {% endfor %}
                                                <!--下一页-->
                                                <li class="{% if not page.has_next %}disabled{% endif %}">
                                                  {% if page.has_next %}
                                                    <a href="#" value="{{ page.next_page_number}}" onclick="task_query(false,this);" aria-label="Next">
                                                  {% endif %}
                                                    <span aria-hidden="true">&raquo;</span>
                                                  </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <!-- Main Footer -->
        <footer class="main-footer">
            <strong>Copyright &copy; 2018 <a href="#">Yuqing Data</a>.</strong> All rights reserved.
        </footer>
        <div class="control-sidebar-bg"></div>
    </div>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/adminlte.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        function task_query(isSearch, obj){
            search_key = $("#task_search").val();
            page = $(obj).attr("value");
            if(isSearch){
                page = 1;
            }
            window.location.href = "?page=" + page + "&searchKey="+ search_key;
        }

        function del_task(obj){
            if(confirm("确定删除该任务?")) {
                task_name = $(obj).attr("task_name");
                $.ajax({
                    type: 'get',
                    url: '/del_task',
                    data: {"task_name": task_name},
                    success: function (data) {
                        var data_json = JSON.parse(data)
                        if (data_json['success']) {
                            window.location.reload()
                        } else {
                            alert(data)
                        }

                    }
                });
            }
        }

        function start_task(obj){
            if(confirm("确定开启该任务?")) {
                task_name = $(obj).attr("task_name");
                $.ajax({
                    type: 'get',
                    url: '/start_task',
                    data: {"task_name": task_name},
                    success: function (data) {

                    }
                });
            }
        }

    </script>
</body>
</html>
